h1 {
    font-family: Verdana;
    font-size: 20px;
    color: white;
    text-align: center;
    background-image: url(Fundo.jpg);
}

p {
    font-size: 14px;
}

body {
    background-color: blue;
}

a {
    border-radius: 25%;
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px
}